DietaPwr/DietaPwr.csproj.BACKUP.384.csproj
DietaPwr/DietaPwr.csproj.BASE.384.csproj
DietaPwr/DietaPwr.csproj.LOCAL.384.csproj
DietaPwr/DietaPwr.csproj.REMOTE.384.csproj
DietaPwr/bin/Debug/DietaPwr.pdb
DietaPwr/bin/Debug/DietaPwr.vshost.exe
DietaPwr/bin/Debug/MathNet.Numerics.xml
DietaPwr/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DietaPwr/obj/Debug/DietaPwr.csproj.FileListAbsolute.txt
DietaPwr/obj/Debug/DietaPwr.csproj.GenerateResource.Cache
DietaPwr/obj/Debug/DietaPwr.csprojResolveAssemblyReference.cache
DietaPwr/obj/Debug/DietaPwr.exe
DietaPwr/obj/Debug/DietaPwr.PanelDodawania.resources
DietaPwr/obj/Debug/DietaPwr.pdb
DietaPwr/bin/Debug/DietaPwr.pdb
DietaPwr/bin/Debug/DietaPwr.vshost.exe
DietaPwr/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DietaPwr/obj/Debug/DietaPwr.csproj.FileListAbsolute.txt
DietaPwr/obj/Debug/DietaPwr.csproj.GenerateResource.Cache
DietaPwr/obj/Debug/DietaPwr.csprojResolveAssemblyReference.cache
DietaPwr/obj/Debug/DietaPwr.exe
DietaPwr/obj/Debug/DietaPwr.pdb
DietaPwr/bin/Debug/DietaPwr.pdb
DietaPwr/bin/Debug/DietaPwr.vshost.exe
DietaPwr/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DietaPwr/obj/Debug/DietaPwr.csproj.FileListAbsolute.txt
DietaPwr/obj/Debug/DietaPwr.csproj.GenerateResource.Cache
DietaPwr/obj/Debug/DietaPwr.csprojResolveAssemblyReference.cache
DietaPwr/obj/Debug/DietaPwr.exe
DietaPwr/obj/Debug/DietaPwr.pdb
DietaPwr/bin/Debug/DietaPwr.pdb
DietaPwr/bin/Debug/DietaPwr.vshost.exe
DietaPwr/obj/Debug/DesignTimeResolveAssemblyReferences.cache
DietaPwr/obj/Debug/DietaPwr.csproj.FileListAbsolute.txt
DietaPwr/obj/Debug/DietaPwr.csproj.GenerateResource.Cache
DietaPwr/obj/Debug/DietaPwr.csprojResolveAssemblyReference.cache
DietaPwr/obj/Debug/DietaPwr.exe
DietaPwr/obj/Debug/DietaPwr.pdb
DietaPwr/obj/Debug/DietaPwr.pdb
DietaPwr/obj/Debug/DietaPwr.exe
